<?xml version="1.0"?>
<launch>

    <!-- lunaching camera param -->
    <rosparam file="$(find camera_publisher)/config/camera_config.yaml" />

    <!-- launching cameras -->
    <node name="camera_publisher" pkg="camera_publisher" type="usb_camera_publisher.py" output="screen" respawn="false" />

</launch>
